<nav class="navbar">
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="portfolio">Portfolio</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
<style>
    .navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5dc;
  padding: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

</style>  
